# Enum: {{ element.title }}

{% if element.description %}
_{{ element.description }}_
{% endif %}

<!-- URI is suppressed as the documentation is for the SMW instance that has a different URI. -->
<!-- URI: {{ gen.uri_link(element) }} -->

{% if element.permissible_values -%}
## Permissible Values

| Value | Meaning | Description |
| --- | --- | --- |
{% for pv in element.permissible_values.values() -%}
| {{pv.text}} | {{pv.meaning}} | {{pv.description|enshorten}} |
{% endfor %}
{% else %}
_This is a dynamic enum_
{% endif %}

<!-- next line is commented out as it is not needed for the SMW doc -->
<!-- {% include "common_metadata.md.jinja2" %} -->

## LinkML Source

<details>
```yaml
{{gen.yaml(element)}}
```
</details>

