# {% if schema.title %}{{ schema.title }}{% else %}{{ schema.name }}{% endif %}

{{ schema.description }}

URI: [{{ schema.id }}]({{ schema.id }})

Version: {{ schema.version }}


## Classes

| Class | Description |
| --- | --- |
{% for c in gen.all_class_objects()|sort(attribute=sort_by) -%}
| {{gen.link_title(c)}} | {{c.description|enshorten}} |
{% endfor %}

## Slots

| Slot | Description |
| --- | --- |
{% for s in gen.all_slot_objects()|sort(attribute=sort_by) -%}
| {{gen.link_title(s)}} | {{s.description|enshorten}} |
{% endfor %}

## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in gen.all_enum_objects()|sort(attribute=sort_by) -%}
| {{gen.link_title(e)}} | {{e.description|enshorten}} |
{% endfor %}
