# Slot: {{ element.title }}

{%- if header -%}
{{header}}
{%- endif -%}

{% if element.description %}
_{{ element.description }}_
{% endif %}

<!-- URI is suppressed as the documentation is for the SMW instance that has a different URI. -->
<!-- URI: {{ gen.uri_link(element) }} -->


{% if schemaview.slot_parents(element.name) or schemaview.slot_children(element.name, mixins=False) %}

## Inheritance

{{ gen.inheritance_tree(element, mixins=True) }}
{% else %}
<!-- no inheritance hierarchy -->
{% endif %}

## Properties

* Range: {{gen.link_title(element.range)}}
* Multivalued: {{ element.multivalued }}
{% if element.aliases %}
* Aliases:
{% for alias in element.aliases %}
    * {{ alias }}
{% endfor %}
{% endif %}

{% if element.required %}
* Required: {{ element.required }}
{% elif element.recommended %}
* Recommended: {{ element.recommended }}
{% endif %}
{% if schemaview.is_mixin(element.name) %}
* Mixin: {{ element.mixin }}
{% endif %}

{% if schemaview.usage_index().get(element.name) %}
| used by | used in | type | used |
| ---  | --- | --- | --- |
{% for usage in schemaview.usage_index().get(element.name) -%}
| {{gen.link_title(usage.used_by)}} | {{gen.link_title(usage.slot)}} | {{usage.metaslot}} | {{usage.used }} |
{% endfor %}
{% endif %}

<!-- next line is commented out as it is not needed for the SMW doc -->
<!-- {% include "common_metadata.md.jinja2" %} -->

{% if schemaview.get_mappings(element.name).items() -%}
## Mappings

| Mapping Type | Mapped Value |
| ---  | ---  |
{% for m, mt in schemaview.get_mappings(element.name).items() -%}
{% if mt|length > 0 -%}
| {{ m }} | {{ mt }} |
{% endif -%}
{% endfor %}

{% endif -%}

{% if schemaview.get_classes_by_slot(element, include_induced=True) %}

## Applicable Classes

| Name | Description |
| --- | --- |
{% for c in schemaview.get_classes_by_slot(element, include_induced=True) -%}
{{ gen.link_title(c) }} | {{ schemaview.get_class(c).description }}
{% endfor %}

{% endif %}

{% if schemaview.is_mixin(element.name) %}
## Mixin Usage

| mixed into | description | range | domain |
| --- | --- | --- | --- |
{% for s in schemaview.slot_children(element.name) -%}
| {{ gen.link_title(s) }} | {{ schemaview.get_slot(s).description }} | {{ schemaview.get_slot(s).range }} | {{ schemaview.get_classes_by_slot(schemaview.get_slot(s))|join(', ') }} |
{% endfor %}
{% endif %}

## LinkML Source

<details>
```yaml
{{ gen.yaml(element) }}
```
</details>

{%- if footer -%}
{{footer}}
{%- endif -%}